.btn{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size:16px;
    font-weight: 500;
    color: #722ED1;
    background-color: #F7F1FF;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    
}