.navbar {
    display: flex;
    align-items: center;
    justify-content:space-between;

    ul{
        display: flex;
        gap: 40px;
        align-items: center;
        .active{
            color: rgb(66, 4, 182);
        }
        a{  
         font-size: 14px;
         font-weight: 500;
         color:#000000 ; 
        }
        .btnTrail{
            color: #722ED1;
            border:1px solid #722ED1;
            padding: 12px 24px;
            border-radius: 23px;
        }
    }
}
