*{
.h3 {
        font-size: 16px;
        font-weight: 700;
        color: #160637;
        margin-bottom: 20px;
       
    }
    .h4{
       font-size: 12px;
       font-weight: 500;
       color: #160637; 
       margin-bottom:15px ;
        cursor: pointer;
    }
}
.footer{
    background-color: #FBFCFF;
    .container{
        .footerMain{
            display: flex;
            align-items:flex-start;
            justify-content: space-between;
            padding:58px 20px ;
            .logo{
                .footerText{
                    margin-top:14px ;
                    font-size: 12px;
                    font-weight: 500;
                    color: #160637;
                }
                .social{
                    display: flex;
                    gap:12px;
                    margin-top: 24px;
                }
            }
        }
    }
}