.products{
    width: 27%;
    @media screen and (max-width:767px){
        width: 50%;
    }
   .qublyTitle{
    font-size: 16px;
    font-weight: 700;
    color:#160637 ;
    margin: 16px 0;
   }
   .qublyDesc{
    font-size: 16px;
    font-weight: 500;
    color:#8989A2 ;
}
}